@page "/"
@inject HttpClient Http


<MudPaper Class="pa-6 ml-16 mr-16 mt-6" >
  <MudLink Typo="Typo.h4" style="text-align:center" Href="https://codepen.io/theothergregstull/pen/xxGmxoq">Comparison Codepen (pure html/css)</MudLink>
</MudPaper>
<MudPaper Class="pa-6 ml-16 mr-16 mt-6 mud-theme-success" >
  <MudText Typo="Typo.h3" style="text-align:center">Recipe list using MudSimpleTable</MudText>
</MudPaper>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
<MudSimpleTable Class = "pa-6 ma-6" Style="overflow-x: auto;">
<thead>
    <tr>
        @foreach (var h in headings)
        {
            <th>@h</th>
        }
    </tr>
</thead>
<tbody>
    @foreach (var recipe in recipes)
    {
        <tr>
                <td>@recipe.Title</td>
                <td>@recipe.Instruction</td>
                <td>@recipe.Note</td>
        </tr>
    }
</tbody>
</MudSimpleTable>
}
@code {
    string[] headings = { "Title", "Instructions", "Notes" };
    string[] rows = {
        @"Hot-dog microwave edible",
        @"Egg 'fry on medium' cayenne",
        @"Apple raw vitaminC",
    };
     private RecipeList[] recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await Http.GetFromJsonAsync<RecipeList[]>("sample-data/recipes.json");
    }

    public class RecipeList
    {
        public string Title { get; set; }

        public string Instruction { get; set; }

        public string Note { get; set; }
    }
}



